<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>that</p>
<p>'s</p>
<p>add</p>
<p>a lot of</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
<p>LINE!</p>
